.app{
    direction: rtl;
    background: #ffffff;
    display: flex;
    padding: 32px;
}
.contentPage{
    display: flex;
    flex-direction: row;
    height: 1016px;
    width: 100%;
}
.panel{

}
.menuBoard{
    display: flex;
    flex-direction: column; 
    height: auto;
    background: #FFFFFF;
    margin-left: 32px;
}
.logo{
    position: absolute;
    width: 362px;
    height: 301px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(209.22deg, #FD3D39 8.18%, rgba(253, 61, 57, 0.7) 92.37%);
    border-radius: 30px;

}
.menudiv{
    margin-top: 320px;
    margin-left: 17px;
}
.menuItem{
    display: flex;
    flex-direction: row;
    align-items: center;   
    padding: 35px 48px 35px 110px;   
    border: 1px solid black;
    opacity: 50%;
    
}
.menuItem:hover{
    opacity:100%;
}
.menuItem:active{
    color:pink;
}

.img{
    padding-left: 24px;

}
.text{
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: black;
}

.textImg1{

    margin: 50px 102px;
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 103px;
    text-align: center;
    
    color: #ffffff;
  }
.textImg2{
    position: absolute;
    margin: 160px 109px;

    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;

    color: #FFFFFF;
}
.textImg3{
    position: absolute;
    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    margin: 220px 80px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


}
.text1{
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #2C2C30;
}
