.app{
    direction: rtl;
    background: #ffffff;
    padding: 32px;
}
.page{ 
    display:flex;
    flex-direction:row;
    padding-left: 380px;
    width: 80%;
    height: 1016px;
    /* background:#F8F9FB; */
    background:#3f5279;
    border-radius: 30px;
}

.menuBoard{
    display: flex;
    flex-direction: column; 
    height: auto;
    background: #FFFFFF;
    margin-left: 32px;
}
.loge{
    background: linear-ient(209.22deg, #FD3D39 8.18%, rgba(253, 61, 57, 0.7) 92.37%);
    border-radius: 30px;
}
.menudiv{
    margin-top: 32px;
    margin-bottom: 158px;
}
.menuItem{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;   
    padding: 35px 48px 35px 110px;   
    border: 1px solid black;
    opacity: 50%;
}
.menuItem:hover{
    opacity:100%;
}

.img{
    padding-left: 24px;

}
.text{
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: black;
}
/* .text:hover{
    color:  #2C2C30;
} */
.textImg1{
    position: absolute;
    width: 144px;
    height: 103px;
    left: 1685px;
    top: 71px;
    
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 103px;
    text-align: center;
    
    color: #FFFFFF;
  }
.textImg2{
    position: absolute;
    width: 179px;
    height: 58px;
    left: 1645px;
    top: 200px;

    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;

    color: #FFFFFF;
}
.textImg3{
    position: absolute;
width: 213px;
height: 25px;
left: 1635px;
top: 265px;

font-family: 'Kalameh';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 25px;

/* identical to box height */
text-align: right;

color: #FFFFFF;

}
.text1{
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #2C2C30;
}
