.base{
    margin: 60px 24px;
}
.title{

    display: flex; 
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    /* identical to box height */
    text-align: right;
    /* Gray I */
color: #797877;
}
.textBar{
    box-sizing: border-box;
    height: 50px;
    background: #F4F5F7;
    margin-right: 88px;
    border: 1px solid #B2B2B2;
    border-radius: 15px;
}
.textBar_2{
    box-sizing: border-box;
    height: 50px;
    background: #F4F5F7;
    margin: 0px 60px 0px 0px;
    border: 1px solid #B2B2B2;
    border-radius: 15px;
    width: 80%;
}
/* #txt1{
margin: -200px 300px;   
}
#txt2{
    margin: -85px 300px;
    width: 65%;
} */
.imgCss{
    position: absolute;
    margin: 35px 45px;

/* Gray III */

}
.line{
    border: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.numberbox{
    background-color: #E5E5E5 ;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    text-align: center;
    padding: 3px;
    position: absolute;
    margin: 0px 30px;

    font-family: 'Vazir FD';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height:20px;

text-align: center;

color: #797877;
}