.content{
    height: 250px;
}
.menu{
    position: absolute;
    display: flex;
    float: right;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
}
.menuBoard{
    position: absolute;
    width:426px ;
    height: auto;
    background: #FFFFFF;
}
.loge{
    position: absolute;
    width: 362px;
    height: 301px;
    left: 1526px;
    top: 32px;
    background: linear-gradient(209.22deg, #FD3D39 8.18%, rgba(253, 61, 57, 0.7) 92.37%);
    border-radius: 30px;
}
.menudiv{
    margin: 32px;
}
.menuItem{
    display: flex;
    width: 214px;
    height: 35px;
    left: 1526px;
    top: 365px;
    padding: 35px 0 35px 110px;
    font-family: 'Vazir FD';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    text-align: right;
    color: #2C2C30;
    border: 1px solid black;
}
.menuItem img{
    padding-left: 24px;
    padding-right: 36px;
    float: right;
}
.page{
    position: absolute;
    display: flex;
    align-items:flex-end;
    width: 1462px;
    height: 1016px;
    left: 32px;
    top: 32px;
    background: #F8F9FB;
    border-radius: 30px 30px 0px 0px;
}